body {
    background-color: rgb(237, 242, 243);
}

#loading-icon {
    display: none;
}


#submit-message {
    display: none;
}

#loader {
    height: 26px;
    width: 26px;
    display: inline-block;
    position: absolute;
}

#loader #loader-icon {
    position: relative;
}

#submit-area {
    height: 30px;
    width: 110px;
    display: inline-block;
    vertical-align: top;
}

#message {
    height: 25px;
    position: absolute;
}

#message p {
    position: relative;
    color: green;
}

#tasks {
    width: 400px;
    border: solid 1px grey;
}

#tasks tbody tr td:nth-child(5) {
    position: absolute;
}

#tasks tbody tr td img {
    display: none;
    position: relative;
}




#content-container {
    margin: 5%;
    flex-wrap: wrap;
}

#submit {
    background-color: lime;
    font-weight: bold;
    width: 110px;
    height: 35px;
    border-radius: 12px;
    border: 2px solid rgb(49, 161, 226); 
}


#header {
    width: 100%;
    height: 150px;
    background-color: orange;
    margin-left: auto;
    margin-right: auto;
    text-emphasis-color: red;
}

    
#footer-rainbow {
    height: 20px;
    background-color:silver;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    text-align: center;
    font-size: 18px !important;
    padding-top: 3px;
    margin-top:200px;
    position: fixed;
    width: 100%;
    bottom: 0px;
}

#new-note, #spacing, #notes-list{
    display: inline-block;
    width: 33%;
    height: 33%;
}

#spacing {
    width: 33%; 
    height: 350.81px;
    vertical-align: top;
}

#notes-list {
    width: 33%; 
    height: 350.81px;
    vertical-align: top;
}

#spacing button {
    margin-top: 100px;
    font-size: 10em;
    color: orange;
    border: none;
    font-size: 40px;
    text-align: center;
    transition: 2s ease-in-out;
}


#spacing button:hover span {display:none}
#spacing button:hover:before {content:"Stop playing here, go to finish your tasks!"}





h1 {
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    color: #f469a9;
    font-size: 3em;
}

#new-note h2 {
    color: rgb(49, 161, 226);
    font-size: 2em;
}
#notes-list h2 {
    color: blue;
    font-size: 2em;
}

label {
    font-weight: bold;
    color: lime;
}

table {
    font-weight: bold;
    color: #ff4646;
}
