body {
    background-color: rgb(237, 242, 243);
}

#loading-icon {
    display: none;
}


#submit-message {
    display: none;
}

#loader {
    height: 26px;
    width: 26px;
    display: inline-block;
    position: absolute;
}

#loader #loader-icon {
    position: relative;
}

#submit-area {
    height: 30px;
    width: 110px;
    display: inline-block;
    vertical-align: top;
}

#message {
    height: 25px;
    position: absolute;
}

#message p {
    position: relative;
    margin-block-start: 0;
    color: green;
}

#tasks {
    width: 400px;
    border: solid 1px grey;
}

#tasks tbody tr td:nth-child(5) {
    position: absolute;
}

#tasks tbody tr td img {
    display: none;
    position: relative;
}




#content-container {
    margin: 5%;
    flex-wrap: wrap;
}

#submit {
    background-color: lime;
    width: 150px;
    height: 40px;
}


#header {
    width: 100%;
    height: 150px;
    background-color: orange;
    margin-left: auto;
    margin-right: auto;
    text-emphasis-color: red;
}
    
#footer-rainbow {
    height: 20px;
    background-color:silver;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    text-align: center;
    font-size: 18px !important;
    padding-top: 3px;
    margin-top:200px;
}

#new-note, #spacing, #notes-list{
    display: inline-block;
    width: 33%;
    height: 33%;
}

#spacing {
    width: 33%; 
    height: 350.81px;
    /* background-color: yellow; */
    vertical-align: top;
}

#notes-list {
    width: 33%; 
    height: 350.81px;
    vertical-align: top;
}

#spacing p {
    margin-top: 100px;
    font-size: 10em;
    text-align: center;
    color: gold;
}

h1 {
    text-align: center;
    /* font-style: underline; */
}

/* lable, input {
     :bold;
} */


#new-note h2 {
    color: rgb(49, 161, 226);
}
#notes-list h2 {
    color: blue;
}


/*
==> //PICTURE// "Don't click me anymore ***or*** when cursor on top of Text==> Stop playing,   go to do finish your tasks!""
*/