body {
    background-color: blanchedalmond;
}


#loading-icon {
   /* visibility: hidden;  */     /* this works pair for $("#loading-icon").css("visibility", "hidden");  */
   display: none;  /* fadeIn and fadeOut NEED display: none  */
}

#submit-message {
    /* visibility: hidden; */    /* this work pair for $("#loading-icon").css("visibility", "hidden");  */
    display: none; /* fadeIn and fadeOut NEED display: none  */
}



#loader {
    height: 26px;
    width: 26px;
    display: inline-block;
    position: absolute;
}

#loader #loader-icon {
    position: relative;
}

#submit-area {
    height: 30px;
    width: 110px;
    display: inline-block;
    vertical-align: top;
}

#message {
    height: 25px;
    position: absolute;
}

#message p {
    position: relative;
    margin-block-start: 0;
    color: green;
}