/* 10-27-202 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Syne+Mono&display=swap');



body {
    background-color: #F2F2F2;
}

header, main, footer{
    background-color:rgb(249, 249, 249);
    width: 700px;
    margin: 0 auto;    /* nice option ===> centering the div*/
}



header{
    height: 200px;
    position: relative

}


nav{
    /*border: solid 1px red; */
    width: 350px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 75px;
}


nav ul{
    padding-right: 10px;
}

nav ul li{
    display: inline-block;
    /* border: 1px solid green; */
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

nav ul li a {
    text-decoration: none;  /* get ride of under line */
}



/* stylizing the Webpage buttons: L V H A */
nav ul li a:link{  /* pseudo class */
    color: grey;
}

nav ul li a:visited { /* when clicked, visited */
    color: grey;
}

nav ul li a:hover {
    color: red    /* when mouse cursor hover over, change to red */
}

nav ul li a:active {             /* *******This COOL effect, seems the button is clickable !!!!!!! */
    position: relative;
    top: 2px;
    left: 2px;
}





main{

}



footer p#copy-notice{
    text-align: center;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: #3B3432;
    padding: 12px 0;
}


/* Contact Page */

main#contact-page div#first-column, main div#second-column {
    display: inline-block;
    vertical-align: top;   /* ***fixing the FORM*/
}


main div#first-column {
    background-color: yellow;
    width: 467px;

}

main div#first-column form label{
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    margin: 18px;
    text-transform: uppercase;  /* capitalize=capitalizing first letter in the form (or use "uppercase"=capitalizing all lettersz */
    color: grey;
}

main div#first-column form input, main div#first-column textarea{
    display: inline-block;
    margin-left: 18px;
    font-size: 24px;
    padding: 6px;
    font-family: 'Roboto', sans-serif;
    border-width: 0;
    background-color: #e8e8e8;
    border-radius: 6px;   /* ref from padding: 6[x; */
}

main div#first-column form textarea{
    width: 320px;
}






main div#second-column {
    background-color: cyan;
    width: 233px;    /* 233=700-467 (Total webspage width=700px) */
    margin-top: 18px;
}


main div#second-column p{
    padding: 6px;
    font-family: 'Roboto', sans-serif;
    color: black;
}

main div#second-column h2 {
    padding: 6px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: grey;
    text-transform: uppercase;
}
    



/* Services Page" */
main#services-page table {
    border: 1px solid grey;
    width: 100%;
}


main#services-page table td, main#services-page table th{
    border: dashed grey 1px;   /*  we can comment out this line*/
}


main#services-page table thead {
    background-color: #8fafff;
}

main#services-page table thead th {
    padding: 6px;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-transform: uppercase;
}

main#services-page table tbody td {
    font-family: 'Roboto', sans-serif;
    text-align: right;
    padding: 6px;
}


main#services-page table .odd-row {
    background-color: purple;
}